table { 
    margin: 100px auto;
    width: 100%;
    height: 100% vh;
    text-align: center;
    border-collapse: collapse;
    th{
        background-color: rgb(158, 127, 219);
    }
    td{
        background-color: rgb(224, 208, 240);
    }
    
}